<header class="header">
    <div class="header-inner">
        <div class="topper">
            <div class="nav container">
                <ul class="nav-left nav-left-one">
                    <li class="is-hidden-s">
                        <button aria-hidden="true" class="menu-icon">
                            <img src="/assets/imgs/menu-icon.png" alt="">
                        </button>
                        <li class="is-hidden-s">
                            <img src="/assets/imgs/procurar (1).png" alt="">
                        </li>
                    </li>
                </ul>
                <div class="nav-center">
                    <div class="nav-item">
                        <a href="../../index.html">
                        <h1>
                            <img class="logo" src="/assets/imgs/CHANEL.png" alt="">
                        </h1>
                    </a>
                    </div>
                </div>
                <ul class="nav-right">
                    <li class="is-hidden-y">
                        <a href="" class="nav-item"><img src="../../assets/imgs/procurar (1).png" alt=""></a>
                    </li>
                    <li class="is-hidden-y">
                        <a href="/pages/register/register.html" class="nav-item"><img src="../../assets/imgs/do-utilizador (1).png" alt=""></a>
                    </li>
                    <li>
                        <a href="" class="nav-item"><img src="../../assets/imgs/estrela.png" alt=""></a>
                    </li>
                    <li class="is-hidden-y">
                        <a href="" class="nav-item"><img src="../../assets/imgs/bolsa-de-compras (1).png" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>