.topper {
    border-top: .5rem solid #000;
}


.nav {
    align-items: stretch;
}


.container {
    box-sizing: initial;

}

.nav-item {
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    min-width: 2.25rem;
    padding: .75rem .5rem 1rem;
    position: relative;
    width: 100%;
}

.nav,
.nav li {
    display: flex;
}

.nav-left {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
    white-space: nowrap;
}

@media screen and (min-width: 60.0625rem) {
    .container {
        margin: 0 auto;
        max-width: 83.875rem;
        overflow: hidden;
        padding-left: 8.0555555556%;
        padding-right: 8.0555555556%;
    }
}

.nav-center {
    align-items: center;
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nav-right {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-end;
}