<header>
    <div class="header-inner">
        <div class="topper">
            <div class="nav container">
                <ul class="nav-left nav-left-one">
                </ul>
                <div class="nav-center">
                    <div class="nav-item">
                        <h1>
                            <img src="/assets/imgs/CHANEL.png" alt="">
                        </h1>
                    </div>
                </div>
                <ul class="nav-right">
                    <li>
                        <a href="" class="nav-item"><img src="./assets/imgs/bolsa-de-compras.png" alt=""></a>
                    </li>
                    <li>
                        <a href="" class="nav-item"><img src="./assets/imgs/coracao.png" alt=""></a>
                    </li>
                    <li>
                        <a href="" class="nav-item"><img src="./assets/imgs/do-utilizador.png" alt=""></a>
                    </li>
                    <li>
                        <a href="" class="nav-item"><img src="./assets/imgs/procurar.png" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>