.topper {
    border-top: .5rem solid #000;
}

.container {
    box-sizing: initial;
}

.header-inner .nav .nav-center {
    width: auto;
}

.nav {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 2.25rem;
    position: relative;
    width: 100%;
}

.nav,
.nav li {
    display: flex;
}

.nav-left {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
    white-space: nowrap;
}

.menu-icon {
    background-color: transparent;
    outline: none;
    border: none;
}

.container {
    margin: 0 auto;
    max-width: 83.875rem;
    overflow: hidden;
}

.nav-center {
    align-items: center;
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nav-right {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: flex-end;
}

.nav .nav-left,
.nav .nav-right {
    min-width: 9.375rem;
}

.nav-item {
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    min-width: 2.25rem;
    padding: .75rem .5rem 1rem;
    position: relative;
    width: 100%;
}

.nav-item {
    padding-bottom: 1.25rem;
    padding-top: 1.875rem;
}

@media screen and (max-width: 960px) {
    .topper {
        width: 100%;
    }

    .container {
        justify-content: center;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .is-hidden-y {
        display: none !important;
    }

    .nav-item .logo {
        width: 70%;
    }

    .nav-left,
    .nav-right {
        padding: 0;
    }

    .fixed-star {
        width: 100%;
    }
}

@media screen and (min-width: 960px) {
    .is-hidden-s {
        display: none !important;
    }
}