<nav class="header-primary">
    <section>
        <div class="links">
            <ul>
                <li>
                    <a class="menu-link" href="/page1.html">Alta costura</a>
                </li>
                <li>
                    <a class="menu-link" href="page2">Moda</a>
                </li>
                <li>
                    <a class="menu-link" href="page3">Alta joalheria</a>
                </li>
                <li>
                    <a class="menu-link" href="page4">Joalheria</a>
                </li>
                <li>
                    <a class="menu-link" href="page5">Relógios</a>
                </li>
                <li>
                    <a class="menu-link" href="page6">Óculos</a>
                </li>
                <li>
                    <a class="menu-link" href="page7">Perfumes</a>
                </li>
                <li>
                    <a class="menu-link" href="page8">Maquiagem</a>
                </li>
                <li>
                    <a class="menu-link" href="page9">Skincare</a>
                </li>
            </ul>
        </div>
    </section>
</nav>