<footer>
    <div class="footer-logo">
        <div class="footer-logo-img">
            <img src="../../assets/imgs/CHANEL (1).png" alt="">
        </div>
    </div>
    <div class="footer-container">
        <div class="explore">
            <h2 class="title-footer">Explore CHANEL.com</h2>
            <ul>
                <li><a href="#">Alta Costura</a></li>
                <li><a href="#">Moda</a></li>
                <li><a href="#">Alta Joalheria</a></li>
                <li><a href="#">Joalheria</a></li>
                <li><a href="#">Relógios</a></li>
                <li><a href="#">Óculos</a></li>
                <li><a href="#">Perfumes</a></li>
                <li><a href="#">Maquiagem</a></li>
                <li><a href="#">Skincare</a></li>

            </ul>
        </div>
        <div class="explore">
            <h2 class="title-footer">Serviços Online</h2>
            <ul>
                <li><a href="#">Instruções de Cuidado</a></li>
                <li><a href="#">A minha conta</a></li>
                <li><a href="#">Perguntas frequentes</a></li>
            </ul>
        </div>
        <div class="explore">
            <h2 class="title-footer">Serviços da Boutique</h2>
            <ul>
                <li><a href="#">Alta Costura</a></li>
                <li><a href="#">Moda</a></li>
                <li><a href="#">Alta Joalheria</a></li>
                <li><a href="#">Joalheria</a></li>
                <li><a href="#">Relógios</a></li>
                <li><a href="#">Óculos</a></li>
                <li><a href="#">Perfumes</a></li>
                <li><a href="#">Maquiagem</a></li>
                <li><a href="#">Skincare</a></li>

            </ul>
        </div>
        <div class="explore">
            <h2 class="title-footer">A Maison CHANEL</h2>
            <ul>
                <li><a href="#">Alta Costura</a></li>
                <li><a href="#">Moda</a></li>
                <li><a href="#">Alta Joalheria</a></li>
                <li><a href="#">Joalheria</a></li>
                <li><a href="#">Relógios</a></li>
                <li><a href="#">Óculos</a></li>
                <li><a href="#">Perfumes</a></li>
                <li><a href="#">Maquiagem</a></li>
                <li><a href="#">Skincare</a></li>

            </ul>
        </div>
    </div>
</footer>