<footer>
    <div class="footer-logo">
        <div class="footer-logo-img">
            <img src="../../assets/imgs/CHANEL (1).png" alt="">
        </div>
    </div>
    <div class="footer-container">
        <div class="footer-section">
            <h2 class="title-footer">Explore CHANEL.com</h2>
            <ul class="footer-links">
                <li><a href="#">Alta Costura</a></li>
                <li><a href="#">Moda</a></li>
                <li><a href="#">Alta Joalheria</a></li>
                <li><a href="#">Joalheria</a></li>
                <li><a href="#">Relógios</a></li>
                <li><a href="#">Óculos</a></li>
                <li><a href="#">Perfumes</a></li>
                <li><a href="#">Maquiagem</a></li>
                <li><a href="#">Skincare</a></li>

            </ul>
        </div>
        <div class="footer-section">
            <h2 class="title-footer">Serviços Online</h2>
            <ul class="footer-links">
                <li><a href="#">Instruções de Cuidado</a></li>
                <li><a href="#">A minha conta</a></li>
                <li><a href="#">Perguntas frequentes</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h2 class="title-footer">Serviços da Boutique</h2>
            <ul class="footer-links">
                <li><a href="#">Encontre uma Boutique</a></li>
                <li><a href="#">Agendamentos com a CHANEL</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h2 class="title-footer">A Maison CHANEL</h2>
            <ul class="footer-links">
                <li><a href="#">Trabalhar na CHANEL</a></li>
                <li><a href="#">Legal</a></li>
                <li><a href="#">Inside CHANEL</a></li>
                <li><a href="#">Fundação</a></li>
                <li><a href="#">Privacidade</a></li>
                <li><a href="#">Combate à Falsificação</a></li>
                <li><a href="#">Demonstração de Resultados</a></li>
            </ul>
        </div>
    </div>
    <hr class="white-line">
    <div class="footer-end-links">
        <ul class="footer-end-content">
            <li><button class="social-media"><img src="../../assets/imgs/instagram.png" alt=""></button></li>
            <li><button class="social-media"><img src="../../assets/imgs/twitter-alt.png" alt=""></button></li>
            <li><button class="social-media"><img src="../../assets/imgs/youtube.png" alt=""></button></li>
            <li><button class="social-media"><img src="../../assets/imgs/linkedin.png" alt=""></button></li>
        </ul>
    </div>
    <div class="footer-address">
        <p>Europrestigio Distribuicao e Comercio de Artigos de Luxo LTDA. CNPJ: 11.662.449/0001-31 Av. Brg. Faria Lima,
            1663, 6º Andar - Jardim Paulistano, São Paulo - SP, 01452-001, Brasil</p>
    </div>
</footer>