footer {
    background-color: black;
    color: white;
}

.footer-logo,
.footer-logo-img {
    display: flex;
}

.footer-logo-img img {
    padding-bottom: 4.5rem;
    padding-top: 4.5rem;

}

.footer-container {
    max-width: 100rem;
    padding-left: 8.0555555556%;
    padding-right: 8.0555555556%;
    display: flex;
}

.footer-container h2 {
    text-transform: uppercase;
}

.footer-container a {
    color: white;
    font-weight: 100;
}

.footer-links{
    padding: 0;
}

.footer-section{
    padding-bottom: 2.25rem;
}

.white-line{
    max-width: 75rem;
    height: 1px;
    border: 0px;
    border-top: 0.5px solid white;
}

.social-media{
    background-color: transparent;
    border: none;
}

.social-media img:hover{
    filter: drop-shadow(.5px .5px 1px white);
}

.footer-end-content{
    display: flex;
    padding: 1em;
    margin-right: 1em;
}
.footer-end-links{
    max-width: 83.875rem;
    padding-left: 8.0555555556%;
    padding-right: 8.0555555556%;
    display: flex;
}

.footer-links li{
    padding-top: 10px;
}

.footer-links li a:hover{
    border-bottom: 1px solid white;
}

.footer-address{
    max-width: 100rem;
    padding-left: 8.0555555556%;
    padding-right: 8.0555555556%;
    display: flex;
    padding-bottom: 2em;
}