<section>
    <main>
        <section>
            <div class="section-container">
                <div class="section-img">
                    <img src="../../assets/imgs/1719420503461-homepagecorpoonedesktop2880x1255jpg_6275x14400.png"
                        alt="">
                </div>
            </div>
        </section>

        <hr class="black-line">
        <article>
            <div class="article-container">
                <div class="article-context">
                    <h1>ALTA COSTURA</h1>
                    <spam>Desfile Outono-Inverno 2024</span>
                </div>
            </div>
        </article>
        <hr class="black-line">
        <article>
            <div class="article-container">
                <div class="article-context">
                    <ul class="article-list">
                        <li>Sofisticado e teatral</li>
                        <li>Uma mescla de Ópera e Alta Costura CHANEL</li>
                        <li>Ricamente bordada</li>
                        <li>Com um toque romântico.</li>
                    </ul>
                </div>
            </div>
        </article>
        <div class="article-context">
            <div class="article-img">
                <a href="#">
                    <img src="../../assets/imgs/Component 2.png" alt="">
                </a>
            </div>
        </div>
        <article>

        </article>

        <article>

        </article>

    </main>
</section>