.section-container {
    padding-bottom: 1rem;
}

.section-img img {
    width: 100%;
    height: 26.813rem;
    object-fit: cover;
    object-position:center;
}

.img-top img{
    object-position:top !important;
}

.black-line {
    max-width: 9.75rem;
    height: 1px;
    border: 0px;
    border-top: 3px solid black;
}

.article-container {
    display: flex;
}

.article-context {
    padding: 1em;
    text-align: center;
    line-height: 1.5rem;
}

.article-context h1 {
    font-size: 1.5rem;
    
}

.article-list {
    padding: 0;
}

.btn-article{
    padding: 1rem;
}

.article-link{
    padding: 1rem;
    border: none;
    background-color: black;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
    cursor: pointer;
}