.section-container{
    padding-bottom: 1rem;
}

.section-img img{
    width: 100%;
    height: 26.813rem;
    object-fit: cover;
    object-position: center;
}

.black-line{
    max-width: 9.75rem;
    height: 1px;
    border: 0px;
    border-top: 3px solid black;
}

.article-container{
    display: flex;
}

.article-context{
    padding: 1em;
    text-align: center;
}
.article-context h1{
    font-size: 1.5rem;
}

.article-list{
    padding: 0;
}