<section>
    <main>
        <section class="card">
            <div class="section-container">
                <div class="section-img">
                    <img src="../../assets/imgs/chanel-desfile.png" alt="">
                </div>
            </div>
        </section>

        <hr class="black-line">
        <article>
            <div class="article-container">
                <div class="article-context">
                    <h1>ALTA COSTURA</h1>
                    <span>Desfile Outono-Inverno 2024</span>
                </div>
            </div>
        </article>
        <hr class="black-line">
        <article>
            <div class="article-container">
                <div class="article-context">
                    <ul class="article-list">
                        <li>Sofisticado e teatral</li>
                        <li>Uma mescla de Ópera e Alta Costura CHANEL</li>
                        <li>Ricamente bordada</li>
                        <li>Com um toque romântico.</li>
                    </ul>
                </div>
            </div>
        </article>

        <article>
            <div class="article-context">
                <div class="article-img">
                    <img src="../../assets/imgs/Component 3 (1).png" alt="">
                </div>
                <div class="btn-article">
                    <a href="#"><button class="article-link">VEJA MAIS</button></a>
                </div>
            </div>
        </article>

        <section class="card">
            <div class="section-container">
                <div class="section-img">
                    <img src="../../assets/imgs/chanel-moda.png" alt="">
                </div>
            </div>
        </section>

        <hr class="black-line">
        <article>
            <div class="article-container">
                <div class="article-context">
                    <h1>MODA</h1>
                    <span>A Coleção Coco Chanel Beach 2024 </span>
                </div>
            </div>
        </article>
        <hr class="black-line">

        <article>
            <div class="article-container">
                <div class="article-context">
                    <span class="article-text">Da cidade ao mar, a coleção CHANEL Coco Beach 2024 é fotografada por Cass
                        Bird sob a luz quente do Mediterrâneo.</span>
                </div>
            </div>
        </article>

        <article>
            <div class="article-context">
                <div class="article-img">
                    <img src="../../assets/imgs/Component 3 (2).png" alt="">
                </div>
                <div class="btn-article">
                    <a href="#"><button class="article-link">VEJA MAIS</button></a>
                </div>
            </div>
        </article>

        <section class="card">
            <div class="section-container">
                <div class="section-img">
                    <img src="../../assets/imgs/chanel-joalheria.png" alt="">
                </div>
            </div>
        </section>

        <hr class="black-line">
        <article>
            <div class="article-container">
                <div class="article-context">
                    <h1>Joalheria</h1>
                    <span>Collection N° 5</span>
                </div>
            </div>
        </article>
        <hr class="black-line">

        <article>
            <div class="article-container">
                <div class="article-context">
                    <span class="article-text">O ESTÚDIO DE CRIAÇÃO DA JOALHERIA CHANEL COMBINOU O OURO COM O ETERNO
                        DIAMANTE <br>
                        PARA DEFINIR O FORMATO DO NÚMERO 5, O FAVORITO DE <br>
                        GABRIELLE CHANEL. TODA A OUSADIA E O ESPÍRITO DA MAISON <br>CAPTURADOS EM UMA COLEÇÃO DE JOIAS
                        EXCEPCIONAL.</span>
                </div>
            </div>
        </article>

        <article>
            <div class="article-context">
                <div class="article-img">
                    <img src="../../assets/imgs/Component 4 (3).png" alt="">
                </div>
                <div class="btn-article">
                    <a href="#"><button class="article-link">VEJA MAIS</button></a>
                </div>
            </div>
        </article>

        <section class="card">
            <div class="section-container">
                <div class="section-img">
                    <img src="../../assets/imgs/chanel-alta-joalheria.png" alt="">
                </div>
            </div>
        </section>

        <hr class="black-line">
        <article>
            <div class="article-container">
                <div class="article-context">
                    <h1>HAUTE JOAILLERIE</h1>
                    <span>SPORT</span>
                </div>
            </div>
        </article>
        <hr class="black-line">

        <article>
            <div class="article-container">
                <div class="article-context">
                    <span class="article-text">A COLEÇÃO HAUTE JOAILLERIE SPORT CELEBRA O ESTILO ESPORTE DA CHANEL,
                        ANCORADO NA HISTÓRIA DA MAISON DESDE
                        <br>A DÉCADA DE 1920. UM ENCONTRO INÉDITO ENTRE DOIS MUNDOS ONDE IMPERAM A ELEGÂNCIA E A
                        EXCELÊNCIA.
                        <br>PROJETADAS PARA SE TORNAR UM COM A PESSOA QUE AS USA, CADA CRIAÇÃO JOALHEIRA DELINEIA OS
                        CONTORNOS DE UM
                        <br>ALLURE CHANEL — O DE UMA MULHER EM CONSTANTE MOVIMENTO.</span>
                </div>
            </div>
        </article>

        <article>
            <div class="article-context">
                <div class="article-img">
                    <img src="../../assets/imgs/Component 4 (4).png" alt="">
                </div>
                <div class="btn-article">
                    <a href="#"><button class="article-link">VEJA MAIS</button></a>
                </div>
            </div>
        </article>


        <section class="card">
            <div class="section-container">
                <div class="section-img">
                    <img src="../../assets/imgs/chanel-relogio.png" alt="">
                </div>
            </div>
        </section>

        <hr class="black-line">
        <article>
            <div class="article-container">
                <div class="article-context">
                    <h1>RELÓGIOS</h1>
                    <span>Coleção cápsula de relógios CHANEL <br> COUTURE O'CLOCK</span>
                </div>
            </div>
        </article>
        <hr class="black-line">

        <article>
            <div class="article-container">
                <div class="article-context">
                    <span class="article-text">INSPIRADO NOS INSTRUMENTOS DAS HABILIDOSAS COSTUREIRAS DA RUE CAMBON, EM
                        PARIS,<br>
                        O ESTÚDIO DE CRIAÇÃO DE RELOJOARIA DA CHANEL DESENHOU A NOVA COLEÇÃO <br>CÁPSULA CHANEL COUTURE
                        O'CLOCK E VESTIU OS ICÔNICOS
                        <br>RELÓGIOS DA MAISON COM MOTIFS REPRESENTANDO DEDAIS,
                        <br> BOBINAS E ALFINETES.</span>
                </div>
            </div>
        </article>

        <article>
            <div class="article-context">
                <div class="article-img">
                    <img src="../../assets/imgs/Component 4 (1).png" alt="">
                </div>
                <div class="btn-article">
                    <a href="#"><button class="article-link">VEJA MAIS</button></a>
                </div>
            </div>
        </article>

        <section class="card">
            <div class="section-container">
                <div class="section-img img-top">
                    <img src="../../assets/imgs/chanel-oculos.png" alt="">
                </div>
            </div>
        </section>

        <hr class="black-line">
        <article>
            <div class="article-container">
                <div class="article-context">
                    <h1>ÓCULOS</h1>
                    <span>SOLSTÍCIO DE VERÃO</span>
                </div>
            </div>
        </article>
        <hr class="black-line">

        <article>
            <div class="article-container">
                <div class="article-context">
                    <ul class="article-list">
                        <li>Energia litorânea</li>
                        <li>Linhas esportivas e uma indiferença sofisticada</li>
                        <li>Verão livre e descontraído</li>
                        <li>Adornados com listras ou inspirados no surf</li>
                    </ul>
                </div>
            </div>
        </article>

        <article>
            <div class="article-context">
                <div class="article-img">
                    <img src="../../assets/imgs/Component 4 (2).png" alt="">
                </div>
                <div class="btn-article">
                    <a href="#"><button class="article-link">VEJA MAIS</button></a>
                </div>
            </div>
        </article>
    </main>
</section>