<section>
    <main>
        <section>
            <div class="section-container">
                <div class="section-img">
                    <img src="../../assets/imgs/chanel-desfile.png"
                        alt="">
                </div>
            </div>
        </section>

        <hr class="black-line">
        <article>
            <div class="article-container">
                <div class="article-context">
                    <h1>ALTA COSTURA</h1>
                    <span>Desfile Outono-Inverno 2024</span>
                </div>
            </div>
        </article>
        <hr class="black-line">
        <article>
            <div class="article-container">
                <div class="article-context">
                    <ul class="article-list">
                        <li>Sofisticado e teatral</li>
                        <li>Uma mescla de Ópera e Alta Costura CHANEL</li>
                        <li>Ricamente bordada</li>
                        <li>Com um toque romântico.</li>
                    </ul>
                </div>
            </div>
        </article>
        <article>
        <div class="article-context">
            <div class="article-img">
                <a href="#">
                    <img src="../../assets/imgs/Component 2.png" alt="">
                </a>
            </div>
            <div class="btn-article">
               <a href="#"><button class="article-link">VEJA MAIS</button></a> 
            </div>
        </div>
    </article>
        <section>
            <div class="section-container">
                <div class="section-img">
                    <img src="../../assets/imgs/chanel-moda.png"
                        alt="">
                </div>
            </div>
        </section>
        <hr class="black-line">
        <article>
            <div class="article-container">
                <div class="article-context">
                    <h1>MODA</h1>
                    <span>A Coleção Coco Chanel Beach 2024 </span>
                </div>
            </div>
        </article>
        <hr class="black-line">
        <article>

        </article>

    </main>
</section>